footer#contact
	
	.basedIn
		img.logo(src='/img/logo[alt].svg')
		h3 Based in Blaenavon
		p South Wales
	
	.contactLockup 
		.sayHi say hi 
		br
		a.lockupEmail(href="mailto:hi@bettyjames.co.uk") hi@bettyjames.co.uk
		
		.navSocial
			a(href='https://www.instagram.com/bettyjamesdesigns/'): i(class='fab fa-instagram')
			a(href='https://www.facebook.com/bettyjamesdesigns/'): i(class='fab fa-facebook')
			a(href='https://twitter.com/bettyjdesigns'): i(class='fab fa-twitter')
	
	.footnote
		a(href='/privacy.html') Privacy Policy
