meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='manifest' href='site.webmanifest')
link(rel='apple-touch-icon' href='icon.png')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css')
link(rel='stylesheet' href='/code/theme.css')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')

// Global site tag (gtag.js) - Google Analytics //
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-5039565-8")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-5039565-8');
