ul(class='nav-menu')
	img.blob-green(src='/img/hero/blob-green.svg')
	img.blob-purple(src='/img/hero/blob-purple.svg')
	img.dots(src='/img/hero/dots.svg')
	img.dots(src='/img/hero/dots.svg')

	li: a(href='#home') Home
	li: a(href='#about') About us
	// li: a(href='#') Collection
	// li: a(href='#') Commission
	li.etsyMenu
		a(href='https://www.etsy.com/uk/shop/BettyJamesDesigns') Etsy Shop
	li: a(href='#contact') Contact
	li.navSocial
		a(href='https://www.instagram.com/bettyjamesdesigns/'): i(class='fab fa-instagram')
		a(href='https://www.facebook.com/bettyjamesdesigns/'): i(class='fab fa-facebook')
		a(href='https://twitter.com/bettyjdesigns'): i(class='fab fa-twitter')
