nav
  #mobile-nav.mobile-nav
   
    button(onclick="window.location.href = 'https://www.etsy.com/uk/shop/BettyJamesDesigns';" class='quick-link')
      i(class="fas fa-store")
      span Etsy Shop
    include _menu.pug
    .hamburger
      .slice
  
  
