.wrap#about
	.about
		
		

		.textFrame
			h1.script Hey There!
			h4.welcome Welcome to our new site.
			h2 We thought we would introduce ourselves and tell you a little bit about what we do.
			
			

		.usGroup
			.cardGroup.richard
	
				.cardBG.rellaxSlow(data-rellax-percentage="0")
					img(src='/img/studio/RichardCogin.jpg', 
						srcset='\
						/img/studio/RichardCogin.jpg 400w,\
						/img/studio/RichardCogin@2x.jpg 800w,\
						/img/studio/RichardCogin@3x.jpg 1200w', 
						alt='').cardImg
				img.blob-peach(src='/img/hero/blob-peach.svg')
				img.dots(src='/img/hero/dots.svg')
	
			.cardGroup.angharad
				img.blob-green(src='/img/hero/blob-green.svg' )
				img.dots(src='/img/hero/dots.svg' )
				.cardBG.rellax(data-rellax-percentage="0.5")
					img(src='/img/studio/AngharadCogin.jpg', 
						srcset='\
						/img/studio/AngharadCogin.jpg 400w,\
						/img/studio/AngharadCogin@2x.jpg 800w,\
						/img/studio/AngharadCogin@3x.jpg 1200w', 
						alt='').cardImg
	
		 
		.textFrame
		 
			p We are Angharad and Richard, based in a little Welsh mining town called Blaenavon with our Cairn Terrier, Betty, the inspiration behind our brand. Between us, we have over 30 years experience within the creative industry. Ranging from Illustration, Graphic and Web Design.
			h3 Please browse through our #[a(href='https://www.etsy.com/uk/shop/BettyJamesDesigns') product range], request #[a(href='mailto:hi@bettyjames.co.uk') custom prints] or get in touch about hiring our #[a(href='mailto:hi@bettyjames.co.uk') design services].
